
.customDiv {
  background-color: #b9d6dd;
  height: 100vh;
}

.navigationBar{
  background-color: #3fa8c0;
}

.image{
  padding-right: 20px
}

.list{
  display: inline-block;
  text-align: left;
}

.left{
  justify-content: center;
  margin-right: 100px;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
  
}
.form-group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: greenyellow;
}


